<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>CoresSystem</display-name>
  <welcome-file-list>
    <welcome-file>Slogin.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>SRegServlet</servlet-name>
    <servlet-class>com.zucc.hjh.Servlet.SRegServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SRegServlet</servlet-name>
    <url-pattern>/Sreg</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SLoginServlet</servlet-name>
    <servlet-class>com.zucc.hjh.Servlet.SLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SLoginServlet</servlet-name>
    <url-pattern>/SLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserExitServlet</servlet-name>
    <servlet-class>com.zucc.hjh.Servlet.UserExitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserExitServlet</servlet-name>
    <url-pattern>/UserExit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TregServlet</servlet-name>
    <servlet-class>com.zucc.hjh.Servlet.TregServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TregServlet</servlet-name>
    <url-pattern>/Treg</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TLoginServlet</servlet-name>
    <servlet-class>com.zucc.hjh.Servlet.TLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TLoginServlet</servlet-name>
    <url-pattern>/TLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddServlet</servlet-name>
    <servlet-class>com.zucc.hjh.Servlet.AddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddServlet</servlet-name>
    <url-pattern>/Add</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateServlet</servlet-name>
    <servlet-class>com.zucc.hjh.Servlet.UpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateServlet</servlet-name>
    <url-pattern>/Update</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deletServlet</servlet-name>
    <servlet-class>com.zucc.hjh.Servlet.DeletServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deletServlet</servlet-name>
    <url-pattern>/delet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewServlet</servlet-name>
    <servlet-class>com.zucc.hjh.Servlet.ViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewServlet</servlet-name>
    <url-pattern>/View</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChooseServlet</servlet-name>
    <servlet-class>com.zucc.hjh.Servlet.ChooseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChooseServlet</servlet-name>
    <url-pattern>/Choose</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>YdeletServlet</servlet-name>
    <servlet-class>com.zucc.hjh.Servlet.YdeletServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>YdeletServlet</servlet-name>
    <url-pattern>/Ydelet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SUpdateServlet</display-name>
    <servlet-name>SUpdateServlet</servlet-name>
    <servlet-class>com.zucc.hjh.Servlet.SUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SUpdateServlet</servlet-name>
    <url-pattern>/SUpdate</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>CharacterEncodingFilter</filter-name>
    <filter-class>com.zucc.hjh.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>CharacterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  
</web-app>